<tableIndexer>
  <page nodeId="1060" url="/spreadsheet.aspx">
    <table id="tblEditTable" class="order-information" data-tabname="ModelInfo">
      <thead>
        <tr class="highlighted">
          <td axis="0">AAAA</td>
          <td colspan="3" rowspan="1" axis="1">BBBB</td>
          <td axis="4">EEEE</td>
          <td axis="5">FFFF</td>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td axis="0">111</td>
          <td axis="1">222</td>
          <td axis="2">333</td>
          <td axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td colspan="1" rowspan="1" axis="1">222</td>
          <td axis="2">333</td>
          <td colspan="1" rowspan="1" axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td colspan="1" rowspan="1" axis="1">222</td>
          <td axis="2">333</td>
          <td colspan="1" rowspan="1" axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td axis="1">222</td>
          <td axis="2">333</td>
          <td axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
      </tbody>
    </table>
    <table id="tblEditTable" class="order-information" data-tabname="ModelInfo">
      <thead>
        <tr class="highlighted">
          <td axis="0">AAAA</td>
          <td colspan="3" rowspan="1" axis="1">BBBB</td>
          <td axis="4">EEEE</td>
          <td axis="5">FFFF</td>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td axis="0">111</td>
          <td axis="1">222</td>
          <td axis="2">333</td>
          <td axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td colspan="1" rowspan="1" axis="1">222</td>
          <td axis="2">333</td>
          <td colspan="1" rowspan="1" axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td colspan="1" rowspan="1" axis="1">222</td>
          <td axis="2">333</td>
          <td colspan="1" rowspan="1" axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
        <tr>
          <td axis="0">111</td>
          <td axis="1">222</td>
          <td axis="2">333</td>
          <td axis="3">444</td>
          <td axis="4">555</td>
          <td axis="5">666</td>
        </tr>
      </tbody>
    </table>
  </page>
  <page nodeId="1064" url="/some-product.aspx">
    <table class="" data-tabname="">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </page>
</tableIndexer>